<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<table>
    <th>
        <tr>
            <td><h3>firstName</h3></td>
            <td><h3>lastName</h3></td>
            <td><h3>email</h3></td>
        </tr>
    </th>
    {{#each docs}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
        </tr>
    {{/each}}
</table>